.header {
    padding: 50px 0 40px;

    &__menu-list {
        display: flex;
        max-width: 690px;
        margin: 0 auto;
    }

    &__menu-item {
        padding: 8px 14px ;
        transition: all .3s;

        &:hover {
            background: #F2F2F2;
            border-radius: 50px;
        }
    }

    &__menu-item+.header__menu-item {
        margin-left: 22px;
    }

    &__menu-link {
        @extend %gotham-400;
        font-size: 16px;
        line-height: 15px;
        color: #222222;
    }
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 53px;

    &__contacts {
        display: flex;
        justify-content: space-between;
    }

    &__contact-item {
        display: flex;
        align-items: center;
        @extend %gotham-400;
        font-size: 16px;
        line-height: 15px;
        color: #000000;

    }

    &__contact-item+.header-top__contact-item {
        margin-left: 25px;
    }

    &__contact-img {
        margin-right: 10px;
    }

    &__contact-tell {
        @extend %gotham-400;
        font-size: 16px;
        line-height: 15px;
        color: #ED7B33;
        border: 1px solid #ED7B33;
        border-radius: 5px;
        padding: 13px 14px 13px 34px;
        position: relative;
        margin-left: 17px;

        &::before {
            content: '';
            position: absolute;
            background-image: url(../images/tell.svg);
            width: 13px;
            height: 13px;
            top: 50%;
            transform: translateY(-50%);
            left: 13px;
        }


    }

    &__contact-call {
        @extend %gotham-400;
        font-size: 16px;
        line-height: 15px;
        color: #FFFFFF;
        background-color: #274176;
        border-radius: 5px;
        padding: 13px 23px;
        margin-left: 20px;
    }
}